/* line 2, ../sass/module/_product.scss */
.product--detail {
  background-color: #e9e9e9;
  padding: 20px;
}
/* line 5, ../sass/module/_product.scss */
.product--detail__title {
  font-weight: bold;
  line-height: 30px;
}
/* line 9, ../sass/module/_product.scss */
.product--detail .btn {
  margin-left: 15px;
}

/* line 16, ../sass/module/_product.scss */
.releated-items .thumbnail {
  padding: 15px;
  padding-bottom: 0;
  border-radius: 0;
}
/* line 20, ../sass/module/_product.scss */
.releated-items .thumbnail .pull-right i {
  color: pink;
}
/* line 23, ../sass/module/_product.scss */
.releated-items .thumbnail .pull-right i:hover {
  color: red;
}
/* line 26, ../sass/module/_product.scss */
.releated-items .thumbnail .thumbnail-footer {
  padding-top: 10px;
}
/* line 29, ../sass/module/_product.scss */
.releated-items .thumbnail .title {
  padding-top: 15px;
}
/* line 32, ../sass/module/_product.scss */
.releated-items .thumbnail .buy-now {
  color: red;
}
