/* line 1, ../sass/base/_base.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #f7faff !important;
}

/* line 1, ../sass/module/_topbar.scss */
.topbar {
  padding: 10px 0px;
}
/* line 3, ../sass/module/_topbar.scss */
.topbar .callus {
  margin-left: 0px;
  font-size: 16px;
}
/* line 7, ../sass/module/_topbar.scss */
.topbar .fa {
  margin: 0px 8px;
}
/* line 10, ../sass/module/_topbar.scss */
.topbar .signin, .topbar .signup {
  background-color: #b70909;
  padding: 20px;
  color: white;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar {
  margin: 0px !important;
  border: 0px !important;
  background-color: #ededed !important;
}

/* line 7, ../sass/module/_navbar.scss */
nav {
  border-radius: 0px !important;
}

/* line 15, ../sass/module/_navbar.scss */
.navbar-brand {
  margin-left: 0px !important;
}

/* line 1, ../sass/module/_searchbar.scss */
.searchbar {
  background-color: #b70909;
  padding-top: 12px;
}
/* line 4, ../sass/module/_searchbar.scss */
.searchbar span {
  color: white !important;
}
/* line 7, ../sass/module/_searchbar.scss */
.searchbar .filter {
  margin: 0px 5px;
}
/* line 10, ../sass/module/_searchbar.scss */
.searchbar .advance {
  margin: 0px 5px;
}
/* line 13, ../sass/module/_searchbar.scss */
.searchbar input {
  width: 50%;
}

/* line 1, ../sass/module/_hero.scss */
html,
body {
  height: 80%;
}

/* line 6, ../sass/module/_hero.scss */
.carousel,
.item,
.active {
  height: 100%;
}

/* line 12, ../sass/module/_hero.scss */
.carousel-inner {
  height: 100%;
  background: #000;
}

/* line 17, ../sass/module/_hero.scss */
.carousel-caption {
  padding-bottom: 80px;
}

/* line 19, ../sass/module/_hero.scss */
h2 {
  font-size: 60px;
}

/* line 20, ../sass/module/_hero.scss */
p {
  padding: 10px;
}

/* Background images are set within the HTML using inline CSS, not here */
/* line 24, ../sass/module/_hero.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 0.6;
}

/**
 * Button
 */
/* line 41, ../sass/module/_hero.scss */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* line 46, ../sass/module/_hero.scss */
.btn-transparent:hover {
  background-color: #fff;
}

/* line 50, ../sass/module/_hero.scss */
.btn-rounded {
  border-radius: 70px;
}

/* line 54, ../sass/module/_hero.scss */
.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
/* line 62, ../sass/module/_hero.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 95, ../sass/module/_hero.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 1, ../sass/module/_sidemenu.scss */
.products {
  padding-top: 100px;
}
/* line 2, ../sass/module/_sidemenu.scss */
.products p {
  padding: 0px;
}

/* line 8, ../sass/module/_sidemenu.scss */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #cccccc;
  top: 0px;
  width: 150px;
  height: 100%;
  color: #3d3d3d;
  position: relative;
}

/* line 20, ../sass/module/_sidemenu.scss */
.nav-side-menu .brand {
  background-color: #cccccc;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

/* line 27, ../sass/module/_sidemenu.scss */
.nav-side-menu .toggle-btn {
  display: none;
}

/* line 30, ../sass/module/_sidemenu.scss */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 25px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

/* line 51, ../sass/module/_sidemenu.scss */
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/* line 61, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #3d3d3d;
  background-color: #cccccc;
}

/* line 66, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #3d3d3d;
}

/* line 70, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #3d3d3d;
}

/* line 74, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #cccccc;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #3d3d3d;
  margin-left: 0px;
}

/* line 82, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

/* line 86, ../sass/module/_sidemenu.scss */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* line 95, ../sass/module/_sidemenu.scss */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

/* line 100, ../sass/module/_sidemenu.scss */
.nav-side-menu li a {
  text-decoration: none;
  color: #3d3d3d;
}

/* line 104, ../sass/module/_sidemenu.scss */
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* line 109, ../sass/module/_sidemenu.scss */
.nav-side-menu li:hover {
  border-left: 3px solid #3d3d3d;
  background-color: #cccccc !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  /* line 119, ../sass/module/_sidemenu.scss */
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 124, ../sass/module/_sidemenu.scss */
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  /* line 137, ../sass/module/_sidemenu.scss */
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  /* line 145, ../sass/module/_sidemenu.scss */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* line 2, ../sass/module/_product.scss */
.product--detail {
  background-color: #e9e9e9;
  padding: 20px;
}
/* line 5, ../sass/module/_product.scss */
.product--detail__title {
  font-weight: bold;
  line-height: 30px;
}
/* line 9, ../sass/module/_product.scss */
.product--detail .btn {
  margin-left: 15px;
}

/* line 16, ../sass/module/_product.scss */
.releated-items .thumbnail {
  padding: 15px;
  padding-bottom: 0;
  border-radius: 0;
}
/* line 20, ../sass/module/_product.scss */
.releated-items .thumbnail .pull-right i {
  color: pink;
}
/* line 23, ../sass/module/_product.scss */
.releated-items .thumbnail .pull-right i:hover {
  color: red;
}
/* line 26, ../sass/module/_product.scss */
.releated-items .thumbnail .thumbnail-footer {
  padding-top: 10px;
}
/* line 29, ../sass/module/_product.scss */
.releated-items .thumbnail .title {
  padding-top: 15px;
}
/* line 32, ../sass/module/_product.scss */
.releated-items .thumbnail .buy-now {
  color: red;
}

/* line 1, ../sass/module/_books.scss */
.books {
  background-color: white;
  height: auto;
  padding: 10px 0px;
}
/* line 5, ../sass/module/_books.scss */
.books h2 {
  border-bottom: 2px solid #cccccc;
  padding: 10px 0px;
  margin-bottom: 30px !important;
}

/* line 1, ../sass/module/_footer.scss */
.copyright {
  background-color: #b70909;
  padding-top: 10px;
  color: white;
}
