.product{
	&--detail{
		background-color: #e9e9e9;
		padding: 20px;
		&__title{
			font-weight: bold;
			line-height: 30px;
		}
		.btn{
			margin-left: 15px;
		}
	}
}

.releated-items{
	.thumbnail{
		padding: 15px;
		padding-bottom: 0;
		border-radius: 0;
		.pull-right i{
			cursor: pointer;
		}
		.title{
			padding-top: 15px;
		}
		.buy-now{
			color: red;
		}
	}
}

#heart{
	display: none;
	&:checked+label{
		color: red;
	}
}